@media(max-width:600px){
    .col-12{
        width: 100%;
        flex-direction: column;
  
        .col-6{
            width:100%;
        }
    }
    .grid-container{
        overflow-x: scroll;
        table{
            overflow-x: scroll;
        }
    }
    .email-add{
        h3{
            margin: 10px 0;
            font-size: 16px;
        }
        #add-email{
            padding: 5px 0;
            width: 100%;
            margin: 5px 4px;
        }
        .btn-add {
            max-width: 100px;
            padding: 7px 0;
        }
    }
}
// @media(max-width:900px){
//     .col-12{
//         width: 100%;
//     }
// }


